
:root {
    --primary:#161a1d;
   --light-grey:#232629;
   --white:white;
   --green:rgb(102,185,51);
   --darkerGreen:rgb(77, 134, 41);
   --fontSize:16px;
   
}




.naslov {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInLeft 0.75s ease-in-out forwards;

    
}


@keyframes slideInLeft {

    from {
    transform: translateX(-130px);
    }
    
    
    to{
    transform: translateX(0);
    }
    
    
    
    
    }



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--green);
    width: 60%;
    margin: 0 auto;
    padding: 1.5rem;
    font-size: 1.4rem;
    background-color: var(--light-grey);
    margin-bottom: 4rem;
    animation: slideInLeft 0.75s ease-in-out forwards;
}

form label {
    color: var(--green);
    margin-bottom: 1rem;
}

form input,
form textarea {
font-size: 1.2rem;
padding: 0.6rem;
border: none;
outline: none;
width: 60%;
}


form button {
    font-size: 1.4rem;
    padding: 0.6rem 2.5rem;
    background-color: var(--darkerGreen);
    border: none;
    color: var(--white);
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: all 0.15s ease-in;
}

form button:hover {
    background-color: var(--white);
    color: var(--darkerGreen);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}


.drugi-kontakt {
    margin: 0  auto;
    text-align: center;
    color: var(--white);
    font-size: 1.4rem;
}

.mail-adresa {
    text-decoration: underline;
    color: var(--green);
    cursor: pointer;
}





@media only screen and (max-width: 600px) {

.naslov {
    width: 80%;
}

form {
    width: 90%;
}

form, form input,
form textarea, form button {
    font-size: 1rem;
}

form input, form textarea {
    width: 90%;
}


.drugi-kontakt {
    font-size: 1.2rem;
}





}